<div id="maindiv">

    <div *ngIf="question" id="appdiv" [style]="borderColor(question.category)">
      <div id="category"  [style]="backgroundColor(question.category)"><p>{{question.category}}</p></div>
      <div id="textdiv">
        <p>{{question.text}}</p>
      </div>
      <div *ngIf="question.img != null">
        <img [src]="imgurl" alt="">
      </div>
     <div id="buttondiv">
       <button *ngFor="let response of responses" (click)="nextQuestion(response.weight)" [style]="buttonColor(response.name)">{{response.name}}</button>
     </div>
      <app-progress></app-progress>
    </div>
</div>
