<div id="maindiv">
  <div id="appdiv">
    <div class="flex"><p>Le Test RIASEC ou "test de HOLLAND", mis au point par le
      psychologue John HOLLAND, est une théorie sur les carrières
      et choix vocationnels qui s'appuie sur 6 types de personnes au
      travail : « <span id="green">Réaliste</span> », « <span id="blue">Investigateur</span> », « <span id="orange">Artistique</span> », « <span id="violet">Social</span> »,
      « <span id="gold">Entreprenant</span> », « <span id="red">Conventionnel</span> ».</p><img src="./assets/media/img/john-holland.jpg" alt="john holland" id="imgholland"></div>
    <div class="flex"><img src="./assets/media/img/roueriasec.png" alt="riasec" id="imgriasec"><div><p>Répondez aux questions qui se
      rapportent aux activités que vous pouvez
      aimez ou que vous aimeriez pratiquer</p><button routerLink="/test" id="suivant">Continuer</button></div></div>
  </div>


</div>

